<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TurnkeyX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ADE74C3A1F448A9900B3B507</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADE74C4E1F448A9900B3B507</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADE74C591F448A9900B3B507</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
